[Unit]
Description=ENPi - light level monitoring on the rpi
After=network.target

[Service]
Type=simple
User=ampi
Group=ampi
WorkingDirectory=/opt/enpi
#ExecStart=/bin/bash -c '/opt/enpi/update.sh && /opt/enpi/env/bin/python /opt/enpi/enpi-light.py'
ExecStart=/opt/enpi/env/bin/python /opt/enpi/enpi-light.py --port=/dev/%i -v
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target