# /etc/systemd/system/enpi-uploader.service
[Unit]
Description=enpi S3 uploader
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sensorgnome/enpi/env/bin/python3 /opt/sensorgnome/enpi/uploader.py
EnvironmentFile=/opt/sensorgnome/enpi/secrets.env
User=root