Package: enpi
Version: 0
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends: 
 python3,
 python3-serial,
 python3-adafruit-blinka,
 python3-adafruit-circuitpython-bmp280,
 python3-adafruit-circuitpython-bme280,
 python3-rpi.gpio,
 python3-boto3,
 python3-pigpio
Homepage: https://github.com/sensorgnome-org/enpi
Description: ENPI support scripts for SensorGnome
 Python tooling used by sensorgnome-control for ENPI functionality.